@media only screen and (max-width:800px) {

  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  
  .menu, .main, .right {
    width: 100%;
  }
}

















* {
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(49, 49, 49);
  }
  
  .header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
    background-image: url(/IMG/wallpaperC.jpg);
  }
  
  .header h1 {
    font-size: 40px;
    
  }
  
  .container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: rgb(49, 49, 49);
  }
   
.container .btn 
{
    position:relative;
    width:155px;
    height:50px;
    margin: 20px;
}
.container .btn a {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color:rgb(242, 255, 255);
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow:hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.container .btn:hover a {
    letter-spacing: 3px;
}

.container .btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,rgba(255,255,255,0.15),transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.container .btn:hover a::before {
    transform:skewX(45deg) translate(200%)
}

.container .btn::before 
{
    content: '';
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius:10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.container .btn:hover::before 
{
    bottom:0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.container .btn::after 
{
    content: '';
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius:10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.container .btn:hover::after
{
    top:0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after{
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71,
    0 0 15px #ff1f71,
    0 0 30px #ff1f71,
    0 0 60px #ff1f71,
}

.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after{
    background: #3bf2ff;
    box-shadow: 0 0 5px #3bf2ff,
    0 0 15px #3bf2ff,
    0 0 30px #3bf2ff,
    0 0 60px #3bf2ff,
}

.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after{
    background: #06ff2f;
    box-shadow: 0 0 5px #06ff2f,
    0 0 15px #06ff2f,
    0 0 30px #06ff2f,
    0 0 60px #06ff2f,
}

.container .btn:nth-child(4)::before,
.container .btn:nth-child(4)::after{
    background: #e25ef3;
    box-shadow: 0 0 5px #e25ef3,
    0 0 15px #e25ef3,
    0 0 30px #e25ef3,
    0 0 60px #e25ef3,
}

.container {
   color:white; 
   background-image: url(/img/RAINY.gif);
   width: 900px;
   
}
  
  .row {  
    display: -ms-flexbox; 
    display: grid;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  

  .side {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .main {   
    -ms-flex: 70%; 
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(44, 44, 44);
    background-image: url(/IMG/);
  }
  
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }